<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ingresa a tu cuenta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>Ingresa a tu cuenta</h1>
        <form action="" method="post">
            <div class="usuario">
                <label for="nombre_usuario">Usuario: </label>
                <input required placeholder="Ingresa tu usurario" type="text" name="user" id="nombre_usuario">
            </div>
            <div class="la_contra">
                <label for="contraseña">Contraseña: </label>
                <input required placeholder="Ingresa tu contraseña" type="password" name="password" id="contraseña">
            </div>
            <div class="boton_enviar">
                <label for="enviar_info"> Enviar </label>
                <input placeholder="Haz clic para entrar a tu cuenta" type="button" name="send" id="enviar_info">
            </div>
        </form>
    </body>