/*---Estilo del LOGIN*/
/* .::Header::.*/
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}
header div.top_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo{
    width: 25%;
    margin-right: 15%;
    display: flex;
}
header nav{
    width: 40%;
}
header ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header ul li{
    width: 100%;
    margin: 3%;
}
header ul li a{
    text-decoration: none;
    color: black;
}

/*--Formulario para logear*/
section{ /*caja completa del formulario*/
    background-color: blanchedalmond;
    border: #666 solid 2px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px #666;
    width: 30%;
    height: 40%;
    text-align: center;
    position: fixed;
    left: 35%;
    top: 35%;
}
h1{
    font-size: 28px;
    margin: 3% 0;
}
div.usuario , .la_contra , .boton_enviar{
    margin: 3% 0;
}
form , .usuario , .la_contra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div input{
    border-color: #0044AA;
    border-width: 3px;
    border-radius: 8px;
    font-size: smaller;
    text-align: center;
    margin: 4%; 
    padding: 5% 15%;    
}
div.boton_enviar , #enviar_info {
    background-color: #0044AA;
    border-color: #0044AA;
    border-radius: 5px;
    width: 20%;
    padding: 3%;
    text-align: center;
}
button a{
    color:white;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
