*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}
header div.top_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo{
    width: 25%;
    margin-right: 15%;
    display: flex;
}
header nav{
    width: 40%;
}
header ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header ul li{
    width: 100%;
    margin: 3%;
}
header ul li a{
    text-decoration: none;
    color: black;
}

/*dando estilo al formulario*/
div.box-de-form{
    padding:3% 15% 0 15%;
    margin: 3% 20%;
    border: #f0e29c 2px dotted;
    box-shadow: 5px 5px 5px 5px #f0e29c;
}
input{
    padding: 2% 0% 2% 1%;
    margin: 3% 0 3% 0;
    border: blue;
}
div .complete-name , .user-name , .birthdate , .adress , .user-type , .interested-in , .user-photo , .password , .r-password{
    display: flex;
    flex-direction: column;
    margin: 3%;
}
div.complete-name , .user-type , .interested-in , .user-photo , .password{
    padding: 2% 0 0 0;
    border-top: gray 2px solid;
}
label .electro , .fashio , .home , .toys , .healthy-life{
    color: black;
}
div .box-seller , .box-buyer{
    display: flex;
}
div .box-seller{
    margin-top: 2%;
}
div .chkbox-buyer , .chkbox-seller{
    order: -1;
    margin-right: 5%;
    text-align: center;
}
label.seller , .buyer{
    display: flex;
    align-items: center;
}
label.electro{
    margin-top: 2%;
}
div.botones{
    display: flex;
    justify-content: space-around;
}
button.send , .reset{
    color: rgb(192, 186, 186);
    padding: 5%;
    margin-bottom: 3%;
    border-radius: 5%;
    font-size: 18px;
}
button.send{
    background-color: rgba(0, 0, 255, 0.856);
    border:rgba(0, 0, 255, 0.856) 2px solid;
}
button.reset{
    background-color:rgba(221, 23, 23, 0.904);
    border: rgba(221, 23, 23, 0.904) 2px solid;
}
